/*
0 - 600px:      phone
600 - 900px:    tablet portrait
900 - 1200px:   tablet landscape
1200 - 1800px:  normal style
1800px +:       Big desktop
*/
/*
$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop
*/
/*- Dark Blue (Dark Mode Elements): hsl(209, 23%, 22%)
- Very Dark Blue (Dark Mode Background): hsl(207, 26%, 17%)
- Very Dark Blue (Light Mode Text): hsl(200, 15%, 8%)
- Dark Gray (Light Mode Input): hsl(0, 0%, 52%)
- Very Light Gray (Light Mode Background): hsl(0, 0%, 98%)
- White (Dark Mode Text & Light Mode Elements): hsl(0, 0%, 100%)*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  font-family: "Nunito sans", sans-serif; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 45%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  font-size: 1.4rem;
  box-sizing: border-box;
  background-color: #202c37;
  color: white; }

.title1 {
  font-size: 2.2rem;
  cursor: pointer; }

.title2 {
  font-size: 2.2rem; }

.title3 {
  font-size: 2rem; }

.detailsTitle {
  font-size: 3rem; }

.card {
  background-color: #2b3945; }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2b3945;
  height: 10vh;
  width: 100%;
  padding: 0 4rem; }

.country-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 27rem));
  gap: 8rem;
  justify-content: space-between; }
  @media (max-width: 37.5em) {
    .country-list {
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); } }
  .country-list__card {
    background-color: #2b3945;
    width: 100%;
    height: 50vh;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 5px 5px 16px 0px rgba(0, 0, 0, 0.75);
    cursor: pointer; }
  .country-list__card > * {
    pointer-events: none; }
  .country-list__flag-container {
    height: 50%; }
  .country-list__flag {
    height: 100%;
    width: 100%; }
  .country-list__country-data {
    margin: 2.6rem 2.3rem; }
  .country-list__details {
    display: flex;
    flex-direction: column;
    height: 8rem;
    justify-content: space-between;
    margin-top: 2rem;
    font-weight: 600; }

#detail {
  font-weight: 400; }

.filters {
  display: flex;
  height: 20vh;
  justify-content: space-between;
  align-items: center; }
  .filters__element {
    height: 4.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    border: none;
    background-color: #2b3945;
    color: white;
    padding: 1rem; }
  .filters__element:focus {
    outline: none;
    background-color: #3d5466; }
  .filters__icon {
    position: relative; }
  .filters__dropDown {
    width: 15%; }

.filters__inputContainer {
  display: flex; }

.filters__input {
  width: 35vw; }

.filters__input::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */ }

.filters__icon {
  border-top-left-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  display: flex;
  padding: 0 2rem;
  background-color: #2b3945;
  height: 4.5rem;
  align-items: center; }

.details {
  display: flex;
  justify-content: space-between;
  font-weight: 600; }
  @media only screen and (max-width: 56.25em) {
    .details {
      flex-direction: column;
      justify-content: center; } }
  .details__flag {
    height: 45vh;
    width: 35vw;
    background-position: center;
    background-size: cover; }
    @media only screen and (max-width: 56.25em) {
      .details__flag {
        width: 80vw;
        height: 25vh; } }
  .details__data {
    width: 40vw; }
    @media only screen and (max-width: 56.25em) {
      .details__data {
        flex-direction: column;
        justify-content: center;
        width: 80vw;
        margin-top: 2rem; } }
  .details__info {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between; }
    @media only screen and (max-width: 56.25em) {
      .details__info {
        flex-direction: column;
        justify-content: center; } }
  .details__thin {
    font-weight: 200;
    margin-left: 1rem; }
  .details__fact:not(:first-child) {
    margin-top: 1rem; }
  .details__border-countries-container {
    display: flex;
    margin-top: 6rem; }
    @media only screen and (max-width: 56.25em) {
      .details__border-countries-container {
        flex-direction: column;
        margin-top: 3rem; } }
  .details__border-countries-container p {
    flex: 1 0 20%; }
  .details__border-countries {
    margin-top: -0.5rem;
    flex: 0 1 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem; }
    @media (max-width: 37.5em) {
      .details__border-countries {
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1rem;
        flex: 0 0 100%; } }
    @media only screen and (max-width: 56.25em) {
      .details__border-countries {
        margin-top: 1rem;
        flex: 0 0 100%; } }
  .details__border-country {
    background-color: #2b3945;
    padding: 0.6rem 3.5rem;
    margin-left: 1rem;
    cursor: default; }

.backButton_container {
  display: flex;
  align-items: center;
  height: 23vh; }
  @media only screen and (max-width: 56.25em) {
    .backButton_container {
      height: 15vh; } }

.backButton {
  display: flex;
  height: 2rem;
  width: 4rem;
  padding: 2rem 7rem;
  align-items: center;
  justify-content: center;
  background-color: #2b3945;
  cursor: pointer;
  color: white;
  margin-left: 8vw;
  border-radius: 3px;
  box-shadow: 1px 1px 18px 4px rgba(0, 0, 0, 0.34); }
  .backButton__arrow {
    font-size: 2.4rem;
    margin-top: -5px;
    margin-right: 7px; }

.main-section {
  margin: 0 4vw; }

.main-section-details {
  margin: 0 8vw; }
