.details {
  display: flex;
  justify-content: space-between;
  font-weight: 600;

  @include respond(tab-port) {
    flex-direction: column;
    justify-content: center;
  }

  &__flag {
    height: 45vh;
    width: 35vw;
    background-position: center;
    background-size: cover;

    @include respond(tab-port) {
      width: 80vw;
      height: 25vh;
    }
  }

  &__data {
    width: 40vw;

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
      width: 80vw;
      margin-top: 2rem;
    }
  }

  &__info {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;

    @include respond(tab-port) {
      flex-direction: column;
      justify-content: center;
    }
  }

  &__thin {
    font-weight: 200;
    margin-left: 1rem;
  }

  &__fact:not(:first-child) {
    margin-top: 1rem;
  }

  &__border-countries-container {
    display: flex;
    margin-top: 6rem;

    @include respond(tab-port) {
      flex-direction: column;
      margin-top: 3rem;
    }
  }

  &__border-countries-container p {
    flex: 1 0 20%;
  }

  &__border-countries {
    margin-top: -0.5rem;
    flex: 0 1 80%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;

    @include respond(phone) {
      grid-template-columns: repeat(3, 1fr);
      margin-top: 1rem;
      flex: 0 0 100%;
    }

    @include respond(tab-port) {
      margin-top: 1rem;
      flex: 0 0 100%;
    }
  }

  &__border-country {
    background-color: $DarkBlueElements;
    padding: 0.6rem 3.5rem;
    margin-left: 1rem;
    cursor: default;
  }
}

.backButton_container {
  display: flex;
  align-items: center;
  height: 23vh;

  @include respond(tab-port) {
    height: 15vh;
  }
}

.backButton {
  display: flex;
  height: 2rem;
  width: 4rem;
  padding: 2rem 7rem;
  align-items: center;
  justify-content: center;
  background-color: $DarkBlueElements;
  cursor: pointer;
  color: $white;
  margin-left: 8vw;
  border-radius: 3px;
  box-shadow: 1px 1px 18px 4px rgba(0, 0, 0, 0.34);

  &__arrow {
    font-size: 2.4rem;
    margin-top: -5px;
    margin-right: 7px;
  }
}
